body {
  width: 100%;
}

img {
  object-fit: contain;
}
.container1 {
  background-image: url('../backgrounds/h_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.services {
  background-image: url('../backgrounds/s_image.jpg');
  background-size: cover;
  color: white;
}

.text {
  display: none;
}

.portfolioitems {
  padding-left: 10%;
  padding-right: 10%;
}
.contactus {
  background-image: url('../backgrounds/c_image.jpg');
  color: white;
}

#hover {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.623);
  top:20%;
  bottom:20%;
  left:20%;
  right:20%;
}
