body {
  width: 100%;
}

.container1 {
  background-image: url('../backgrounds/h_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.services {
  background-image: url('../backgrounds/s_image.jpg');
  background-size: cover;
  color: white;
}

#designtext {
  display: none;
}

#developmenttext {
  display: none;
}

#producttext {
  display: none;
}

.portfolioitems {
  padding-left: 10%;
  padding-right: 10%;
}
.contactus {
  background-image: url('../backgrounds/c_image.jpg');
}
