.container-fluid {
  height: 100vh;
}
body {
  width: 100%;
}
p {
  font-size: 1.1vw;
}

.container1 {
  background-image: url('../backgrounds/h_img.jpg');
  background-size: cover;
}

.services {
  background-image: url('../backgrounds/s_image.jpg');
  background-size: cover;
  color: white;
}

.text {
  display: none;
}

.portfolioitems {
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}
.contactus {
  background-image: url('../backgrounds/c_image.jpg');
}

.hover {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  top:auto;
  left: auto;
  margin: 0.1px;
  border: 0.1px;
  padding: 20px;
}
